# Open WebUI 环境变量
OLLAMA_BASE_URL=http://ollama:11434
WEBUI_AUTH=false
WEBUI_NAME=Local Agent
WEBUI_URL=http://localhost:3000
ENABLE_RAG_WEB_SEARCH=true
RAG_EMBEDDING_ENGINE=ollama
RAG_EMBEDDING_MODEL=nomic-embed-text
